<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<div>
  <div>
    <label>Room Number</label>
  </div>
  <input type="number" [(ngModel)] ="roomNumber"/>
  <div>
    <label>Player ID</label>
  </div>
  <input type="text" [(ngModel)] ="playerId"/>
</div>
<table align="center">
  <tr>
    <td align="center">
      <ng-template [ngIf]="!isWinner">
          <div *ngIf="turn; else elseBlock">Your Turn</div>
          <ng-template #elseBlock>Enemy Turn</ng-template>
      </ng-template>
      <ng-template [ngIf]="isWinner">
        <div>
          Player {{winnerId}} Wins
        </div>
      </ng-template>
    </td>
  </tr>
</table>
<table align="center">
  <tbody>
    <tr>
      <td align="center">Your Ocean</td>
      <td></td>
      <td align="center">Enemy Ocean</td>
    </tr>
    <tr>
      <td>
        <table class="table table-bordered border-primary" style="height: fit-content; width: 575px; ">
          <tbody>
            <tr *ngFor="let row of height; let y = index">
              <td *ngFor="let col of width; let x = index" class="{{ocean[x][y][0]}}">{{x}},{{y}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td></td>
      <td>
        <table class="table table-bordered border-primary" style="height: fit-content; width: 575px;">
          <tbody>
            <tr *ngFor="let row of height; let y = index">
              <td *ngFor="let col of width; let x = index" class="{{enemyOcean[x][y][0]}}" (click)="Attack(x,y,0)">{{x}},{{y}}   </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
