td {
    width: 64px;
    height: 64px;
}

td.water{
    background-image: url("../../assets/WaterTile.png");
}

td.patrolboat1{
    background-image: url("../../assets/PatrolBoat1.png");
}
td.patrolboat2{
    background-image: url("../../assets/PatrolBoat2.png");
}

td.submarine1{
    background-image: url("../../assets/Submarine1.png");
}
td.submarine2{
    background-image: url("../../assets/Submarine2.png");
}
td.submarine3{
    background-image: url("../../assets/Submarine3.png");
}