.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background: url("../../assets/Woter.png");
    background-size: cover;
    border: 10px solid rgba(0, 2, 100, 0.8);
    float: left;
}

#grid-item {
    border: 1px solid rgba(4, 6, 110, 0.8);
    text-align: center;
    width: 64px;
    height: 64px;
}

img {
    margin-left: 10px;
    margin-right: 10px;
}

#options {
    border: 10px solid rgba(4, 6, 110, 0.8);
    float: center;
    
}

#shipselect{
    width: 400px;
    height: 660px;
    text-align: center;
    border: 10px solid rgba(4, 6, 110, 0.8);
    background: url("../../assets/Woter.png");
    background-size: cover;
    float: left;
    margin-left: 30px;
}

.btn {
    color: ivory;
    background-color: black;
}

/*Removed individual tiles in favor of a single container-wide image to represent the sea*/
/* div.water{
    background-image: url("../../assets/WaterTile.png");
} */

div.patrolboat1{
    background-image: url("../../assets/PatrolBoat1.png");
}
div.patrolboat2{
    background-image: url("../../assets/PatrolBoat2.png");
}

div.submarine1{
    background-image: url("../../assets/Submarine1.png");
}
div.submarine2{
    background-image: url("../../assets/Submarine2.png");
}
div.submarine3{
    background-image: url("../../assets/Submarine3.png");
}

div.destroyer1{
    background-image: url("../../assets/Destroyer1.png");
}
div.destroyer2{
    background-image: url("../../assets/Destroyer2.png");
}
div.destroyer3{
    background-image: url("../../assets/Destroyer3.png");
}

div.battleship1{
    background-image: url("../../assets/Battleship1.png");
}
div.battleship2{
    background-image: url("../../assets/Battleship2.png");
}
div.battleship3{
    background-image: url("../../assets/Battleship3.png");
}
div.battleship4{
    background-image: url("../../assets/Battleship4.png");
}

div.aircraftcarrier1{
    background-image: url("../../assets/AircraftCarrier1.png");
}
div.aircraftcarrier2{
    background-image: url("../../assets/AircraftCarrier2.png");
}
div.aircraftcarrier3{
    background-image: url("../../assets/AircraftCarrier3.png");
}
div.aircraftcarrier4{
    background-image: url("../../assets/AircraftCarrier4.png");
}
div.aircraftcarrier5{
    background-image: url("../../assets/AircraftCarrier5.png");
}

div.patrolboatr1{
    background-image: url("../../assets/PatrolBoatR1.png");
}
div.patrolboatr2{
    background-image: url("../../assets/PatrolBoatR2.png");
}

div.submariner1{
    background-image: url("../../assets/SubmarineR1.png");
}
div.submariner2{
    background-image: url("../../assets/SubmarineR2.png");
}
div.submariner3{
    background-image: url("../../assets/SubmarineR3.png");
}

div.destroyerr1{
    background-image: url("../../assets/DestroyerR1.png");
}
div.destroyerr2{
    background-image: url("../../assets/DestroyerR2.png");
}
div.destroyerr3{
    background-image: url("../../assets/DestroyerR3.png");
}

div.battleshipr1{
    background-image: url("../../assets/BattleshipR1.png");
}
div.battleshipr2{
    background-image: url("../../assets/BattleshipR2.png");
}
div.battleshipr3{
    background-image: url("../../assets/BattleshipR3.png");
}
div.battleshipr4{
    background-image: url("../../assets/BattleshipR4.png");
}

div.aircraftcarrierr1{
    background-image: url("../../assets/AircraftCarrierR1.png");
}
div.aircraftcarrierr2{
    background-image: url("../../assets/AircraftCarrierR2.png");
}
div.aircraftcarrierr3{
    background-image: url("../../assets/AircraftCarrierR3.png");
}
div.aircraftcarrierr4{
    background-image: url("../../assets/AircraftCarrierR4.png");
}
div.aircraftcarrierr5{
    background-image: url("../../assets/AircraftCarrierR5.png");
}

#container {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}
#container > div {
width: 100px;
height: 100px;
}


.box-cell { 
    float: left;
    width:24%; 
} 

.box-row::after
{
    content: "";
    clear: both;
    display: table;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.testcontainer .btn {
    position: relative;
    
}
