td {
    width: 64px;
    height: 64px;
}

td.water{
    background-image: url("../../assets/WaterTile.png");
}

td.patrolboat1{
    background-image: url("../../assets/PatrolBoat1.png");
}
td.patrolboat2{
    background-image: url("../../assets/PatrolBoat2.png");
}

td.submarine1{
    background-image: url("../../assets/Submarine1.png");
}
td.submarine2{
    background-image: url("../../assets/Submarine2.png");
}
td.submarine3{
    background-image: url("../../assets/Submarine3.png");
}

td.destroyer1{
    background-image: url("../../assets/Destroyer1.png");
}
td.destroyer2{
    background-image: url("../../assets/Destroyer2.png");
}
td.destroyer3{
    background-image: url("../../assets/Destroyer3.png");
}

td.battleship1{
    background-image: url("../../assets/Battleship1.png");
}
td.battleship2{
    background-image: url("../../assets/Battleship2.png");
}
td.battleship3{
    background-image: url("../../assets/Battleship3.png");
}
td.battleship4{
    background-image: url("../../assets/Battleship4.png");
}

td.aircraftcarrier1{
    background-image: url("../../assets/AircraftCarrier1.png");
}
td.aircraftcarrier2{
    background-image: url("../../assets/AircraftCarrier2.png");
}
td.aircraftcarrier3{
    background-image: url("../../assets/AircraftCarrier3.png");
}
td.aircraftcarrier4{
    background-image: url("../../assets/AircraftCarrier4.png");
}
td.aircraftcarrier5{
    background-image: url("../../assets/AircraftCarrier5.png");
}

td.patrolboatr1{
    background-image: url("../../assets/PatrolBoatR1.png");
}
td.patrolboatr2{
    background-image: url("../../assets/PatrolBoatR2.png");
}

td.submariner1{
    background-image: url("../../assets/SubmarineR1.png");
}
td.submariner2{
    background-image: url("../../assets/SubmarineR2.png");
}
td.submariner3{
    background-image: url("../../assets/SubmarineR3.png");
}

td.destroyerr1{
    background-image: url("../../assets/DestroyerR1.png");
}
td.destroyerr2{
    background-image: url("../../assets/DestroyerR2.png");
}
td.destroyerr3{
    background-image: url("../../assets/DestroyerR3.png");
}

td.battleshipr1{
    background-image: url("../../assets/BattleshipR1.png");
}
td.battleshipr2{
    background-image: url("../../assets/BattleshipR2.png");
}
td.battleshipr3{
    background-image: url("../../assets/BattleshipR3.png");
}
td.battleshipr4{
    background-image: url("../../assets/BattleshipR4.png");
}

td.aircraftcarrierr1{
    background-image: url("../../assets/AircraftCarrierR1.png");
}
td.aircraftcarrierr2{
    background-image: url("../../assets/AircraftCarrierR2.png");
}
td.aircraftcarrierr3{
    background-image: url("../../assets/AircraftCarrierR3.png");
}
td.aircraftcarrierr4{
    background-image: url("../../assets/AircraftCarrierR4.png");
}
td.aircraftcarrierr5{
    background-image: url("../../assets/AircraftCarrierR5.png");
}

.deployset {
    margin-left: 30%;
    margin-right: 30%;
}
