.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.asciiContainer
{
    margin-right:26%;
    margin-left: 28%;
    margin-top: 5%;
}

h1 {
    margin-top: 5%;
}