<!--
<pre>
                                   # #  ( )
                                ___#_#___|__
                            _  |____________|  _
                     _=====| | |            | | |==== _
               =====| |.---------------------------. | |====
 ---------------------'   .  .  .  .  .  .  .  .   '-------------/
   \                                                             /
    \_______________________________________________WWS_________/
 wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww 

We're working on this game component!!!
</pre>
-->

<app-gameboard-setup *ngIf="!gameState"></app-gameboard-setup>
<app-game-board *ngIf="gameState"></app-game-board>

<div>
  {{gameState}}
</div>
<!-- <app-room-list></app-room-list>
<app-chat></app-chat> -->