<!--
<pre>
                                   # #  ( )
                                ___#_#___|__
                            _  |____________|  _
                     _=====| | |            | | |==== _
               =====| |.---------------------------. | |====
 ---------------------'   .  .  .  .  .  .  .  .   '-------------/
   \                                                             /
    \_______________________________________________WWS_________/
 wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww 

We're working on this game component!!!
</pre> -->
<app-room-list></app-room-list> 

<div *ngIf="total == 2">
  <app-gameboard-setup></app-gameboard-setup>
</div>

<app-chat></app-chat>